 feature/hero-header
<section class="contacts container">
    <a name="contacts"></a>
    <!-- <div class="container"> -->
<h2 class="visually-hidden">contacts</h2>

<section class="contacts">
   <div class="container">
<h2 class="hidden">contacts</h2>
 main

<ul class="location">
    
    <li class="location-item">
        <p class="location-item__type--cafe">CAFE</p>
        <h3 class="location-item__city">Chicago</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

        <ul class="location-contacts">
            <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
           
            <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
    </li>
   

    
    <li class="location-item">
        <p class="location-item__type--food-tuck">FOODTRUCK</p>
        <h3 class="location-item__city">Los Angeles</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

    <ul class="location-contacts">
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
    
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>

    </li>
    
    
    
    <li class="location-item">
        <p class="location-item__type--cafe">CAFE</p>
        <h3 class="location-item__city">New York</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
           
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

    <ul class="location-contacts">
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
    
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>

    </li>
    
</ul>

<div class="buttons">
<button class="btn" type="button">
    <span class="btn__text">Our Locations
        <svg class="btn__icon" width="8" height="8">
            <use href="./images/symbol-defs.svg#icon-vector-right"> </use>
        </svg> </span>
    </button>
<button class="btn--white"type="button">
    <span class="btn__text">Franchise
        <svg class="btn__icon--pink" width="8" height="8">
            <use href="./images/symbol-defs.svg#icon-vector-right-1"> </use>
        </svg> </span>
    </button>
</div>

</div>
</section>