<section class="contacts container">
    <!-- <div class="container"> -->
<h2 class="visually-hidden">contacts</h2>

<ul class="location">
    
    <li class="location-item">
        <p class="location-item__type--cafe">CAFE</p>
        <h3 class="location-item__city">Chicago</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

        <ul class="location-contacts">
            <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
           
            <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
    </li>
   

    
    <li class="location-item">
        <p class="location-item__type--food-tuck">FOODTRUCK</p>
        <h3 class="location-item__city">Los Angeles</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

    <ul class="location-contacts">
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
    
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>

    </li>
    
    
    
    <li class="location-item">
        <p class="location-item__type--cafe">CAFE</p>
        <h3 class="location-item__city">New York</h3>
        <p class="location-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
            <li class="schedule-weekday">
                <h3 class="schedule__day">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
           
            <li class="schedule-day-off">
                <h3 class="schedule__day">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>

    <ul class="location-contacts">
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="tel:+61-038-376-62-84">+61(0) 383 766 284</a></li>
    
        <li class="location-contacts__item"><a class="location-contacts__item--link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>

    </li>
    
</ul>


<button class="btn" type="button">Our Locations</button>
<button class="btn--white"type="button">Franchise</button>


</section>