<h1>customer-reviews</h1>
<section class="customer">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="customer__images">
            <picture>
              <source
                srcset="
                  ./images/customer/customer1-1x.jpg 1x,
                  ./images/customer/customer1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/customer/customer1-1x.jpg 1x,
                  ./images/customer/customer1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/customer/customer1-1x.jpg 1x,
                  ./images/customer/customer1-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./images/customer/customer1-1x.jpg" alt="покупатель" />
            </picture>
          </div>
          <div class="customer__container--text">
            <p class="customer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer__container--nav">
            <h3>Emily, Los Angeles</h3>
          </div>
        </div>
        <div class="swiper-slide">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slide">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
