<header class="header">
  <div class="modal is-hidden" data-modal>
    <button type="button" class="menu__close" data-modal-close>
      <svg class="menu__close-icon" width="18" height="18">
        <use href="../src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <img src="../src/images/hh-img/logo.png" alt="logo ice cream" class="modal__img" />
  </div>

  <div class="menu__modal is-hidden" data-menu>
    <div class="menu--top">
      <button type="button" class="menu__btn--main" data-modal-open>
        <span>Buy now</span>
        <svg class="menu__icon--right" width="18" height="18">
          <use href="../src/images/symbol-defs.svg#icon-right"></use>
        </svg>
      </button>
      <nav class="menu__nav">
        <ul class="menu__ul">
          <li class="menu__li">
            <a href="" class="menu__link current">Home</a>
          </li>
          <li class="menu__li">
            <a href="#about" class="menu__link">About us</a>
          </li>
          <li class="menu__li">
            <a href="#made" class="menu__link">How it's made?</a>
          </li>
          <li class="menu__li">
            <a href="#products" class="menu__link">Our products</a>
          </li>
          <li class="menu__li">
            <a href="#contacts" class="menu__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="menu__close" data-menu-close>
      <svg class="menu__close-icon">
        <use href="../src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="hh__container container">
    <div class="hh__wrap">
      <a href="" lang="en" class="logo">
        <svg class="logo__icon" width="50" height="50">
          <use href="../src/images/symbol-defs.svg#icon-ice"></use>
        </svg>
        <span class="logo__span"> IceCream</span>
      </a>
      <div class="hh__wrap-a">
        <button type="button" class="menu__btn" data-menu-open>
          <svg class="menu__icon" width="20" height="12">
            <use href="../src/images/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>
        <button type="button" class="menu__btn--main hh__btn" data-modal-open-three>
          <span>Buy now</span>
          <svg class="menu__icon--right" width="18" height="18">
            <use href="../src/images/symbol-defs.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <nav class="hh__nav">
      <a href="" lang="en" class="logo">
        <svg class="logo__icon" width="50" height="50">
          <use href="../src/images/symbol-defs.svg#icon-ice"></use>
        </svg>
        <span class="logo__span"> IceCream</span>
      </a>

      <ul class="hh__ul">
        <li class="hh__li">
          <a href="" class="hh__link current">Home</a>
        </li>
        <li class="hh__li">
          <a href="#about" class="hh__link">About us</a>
        </li>
        <li class="hh__li">
          <a href="#made" class="hh__link">How it's made?</a>
        </li>
        <li class="hh__li">
          <a href="#products" class="hh__link">Our products</a>
        </li>
        <li class="hh__li">
          <a href="#contacts" class="hh__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu__btn--main hh__btn" data-modal-open-two>
        <span>Buy now</span>
        <svg class="menu__icon--right" width="18" height="18">
          <use href="../src/images/symbol-defs.svg#icon-right"></use>
        </svg>
      </button>
    </nav>
    <div class="hh__box">
      <div>
        <h1 class="hh__title">
          Ice cream <br />
          made with <br />
          <span class="hh__title--big">passion</span>
        </h1>
        <ul class="false-btn__ul">
          <li class="false-btn__li false-btn__li--pink">
            <a href="#products" class="false-btn__link false-btn__link--white">Products</a>
          </li>
          <li class="false-btn__li false-btn__li--white">
            <a href="#made" class="false-btn__link false-btn__link--pink">How it's made?</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="hh__ul--decor">
          <li class="decor__li">
            <svg width="16" height="16" class="ellipse">
              <use href="../src/images/symbol-defs.svg#icon-ellipse"></use>
            </svg>
            <span class="hh__numbers">16</span>
            <span class="hh__words">cafes</span>
          </li>
          <li class="decor__li">
            <svg width="16" height="16" class="ellipse">
              <use href="../src/images/symbol-defs.svg#icon-ellipse"></use>
            </svg>
            <span class="hh__numbers">23</span>
            <span class="hh__words">food trucks</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrap--one">
      <div class="wrap--one--b">
        <div>
          <picture>
            <source
              srcset="
                ../src/images/hh-img/hh-des-1-1x.png 1x,
                ../src/images/hh-img/hh-des-1-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../src/images/hh-img/hh-tab-1-1x.png 1x,
                ../src/images/hh-img/hh-tab-1-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="../src/images/hh-img/hh-des-1-1x.png" alt="Milk" class="hh__img--1" />
          </picture>
        </div>
        <div>
          <p class="hh__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>

          <button type="button" class="hh__btn--right" data-modal-open-four>
            <svg class="hh__icon--right" width="18" height="18">
              <use href="../src/images/symbol-defs.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="wrap--one--c">
        <picture>
          <source
            srcset="
              ../src/images/hh-img/hh-des-2-1x.png 1x,
              ../src/images/hh-img/hh-des-2-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../src/images/hh-img/hh-tab-2-1x.png 1x,
              ../src/images/hh-img/hh-tab-2-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="../src/images/hh-img/hh-des-2-1x.png" alt="A happy girl" class="hh__img--2" />
        </picture>
      </div>
    </div>

    <div class="overlay">
      <picture>
        <source
          srcset="../src/images/hh-img/hh-des-3-1x.png 1x, ../src/images/hh-img/hh-des-3-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../src/images/hh-img/hh-tab-3-1x.png 1x, ../src/images/hh-img/hh-tab-3-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../src/images/hh-img/hh-mob-3-1x.png 1x, ../src/images/hh-img/hh-mob-3-2x.png 2x"
          media="(min-width: 320px)"
        />
        <img src="../src/images/hh-img/hh-des-3-1x.png" alt="An Ice Cream" class="hh__img--3" />
      </picture>
    </div>
  </div>
</header>
