.about {
  background-color: #fff5f6;
  padding-top: 125px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
  }
}

.about__overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/about/about-mob-bg-img.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 93%;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about/about-mob-bg-img-2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-position-x: center;
    background-position-y: 87%;
    background-image: url(../images/about/about-dt-bg-img.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/about-dt-bg-img-2x.png);
    }
  }
}

.about__label {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
  }
}

.about__section-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

.about_section-content {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.about__text-container {
  max-width: 220px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    max-width: 330px;
  }
  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-left: 17px;
    margin-right: 0;
    padding-top: 51px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 463px;
    margin-left: 74px;
  }
}

.about__image-container {
  @media screen and (min-width: 1280px) {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(1.15);
    }
  }
}

.about__text-first {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--main-text-color);
  margin-top: 46px;
  margin-bottom: 35px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about__text-second {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--second-text-color);
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.94;
    margin-bottom: 44px;
  }
}

.about__text-third {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--second-text-color);
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.94;
    margin-bottom: 45px;
  }
}

.button__read-more {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--third-title-color);
  border: 0;
  border-radius: 22px;
  min-width: 176px;
  padding: 14px 38px 14px 37px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.button__read-more-icon {
  margin-left: 17px;
  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
