.advantages {
    padding-top: 39px;
    padding-bottom: 97px;
    background: #FFF5F6;

    @media screen and (min-width:768px) {
        padding-top: 66px;
        padding-bottom: 140px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 39px;
        padding-bottom: 139px;
    }
}

.advantages__list {
    margin-right: auto;
    margin-bottom: -38px;
    @media screen and (min-width: 768px)  {
        display: flex;  
        justify-content: center;
    }
    @media screen and (min-width: 1280px) {
        justify-content: center;
    }
}

.advantages__item {
    margin-right: auto;
    margin-bottom: 38px;
    width: 230px;
    @media screen and (min-width: 768px) {
        width: 180px;
        margin-right: 60px;
    }

    @media screen and (min-width: 1280px) {
        width: 330px;
        margin-right: 30px;
    }
}

.advantages__title {
    font-family: Titan One;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
    }

    @media screen and(min-width: 1280px) {
        font-size: 58px;
        line-height: 1.13;
    }
} 

.advantages__title--first {
    &::before {
        content: "";
        display: block;
        width: 33px;
        height: 50px;
        margin-bottom: 16px;

        background-image: url(/images/advantages/icon1-mob-1x.png); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon1-mob-2x.png);
            }

        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
        background-image: url(/images/advantages/icon1-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon1-tab-2x.png);
        }   
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
        background-image: url(/images/advantages/icon1-pc-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon1-pc-2x.png);
        }   
    }
}
}

.advantages__title--second {
    &::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 16px;

        background-image: url(/images/advantages/icon2-mob-1x.png); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon2-mob-2x.png);
            }

        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
        background-image: url(/images/advantages/icon2-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon2-tab-2x.png);
        }   
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
        background-image: url(/images/advantages/icon2-pc-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon2-pc-2x.png);
        }   
    }
}
}

.advantages__title--third {
    &::before {
        content: "";
        display: block;
        width: 44px;
        height: 50px;
        margin-bottom: 16px;

        background-image: url(/images/advantages/icon3-mob-1x.png); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon3-mob-2x.png);
            }

        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
        background-image: url(/images/advantages/icon3-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon3-tab-2x.png);
        }   
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
        background-image: url(/images/advantages/icon3-pc-1x.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: url(/images/advantages/icon3-pc-2x.png);
        }   
    }
}
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.70;
    margin-top: 13px;
    
    color: #000000;
    @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;
        margin-top: 15px;
    }
}