.advantages {
    padding-top: 39px;
    padding-bottom: 97px;
    background: #FFF5F6;
}

.advantages__list {
    margin-right: auto;
    margin-bottom: -38px;
}

.advantages__item {
    margin-right: auto;
    margin-bottom: 38px;
    width: 230px;
}

.advantages__title {
    font-family: Titan One;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
} 

.advantages__title--first {
    &::before {
        content: "";
        display: block;
        width: 33px;
        height: 50px;
        margin-bottom: 16px;

        background-image: url(/images/advantages/icon1-mob-1x.png);  
    }
}


.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.70;
    margin-top: 16px;

    color: #000000;
}